extends layout

block content
    .container
        h1 Vista del personaje
        .row 
            .col-12.col-md-3
                .card(style='width: 18rem;')
                    img.card-img-top(src=`${personaje.image}` alt='...')
                    .card-body
                        h5.card-title #{personaje.name}
                        h6.card-subtitle.mb-2.text-body-secondary #{personaje.gender}
                        p.card-text #{new Date(personaje.created).toISOString().split('T')[0]}
                        a.card-link(href=`${personaje.url}`) Descargar su ficha (JSON)
                        p
                        a.card-link(href="/") Lista completa
